*{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', 'sens-serif';
            box-sizing: border-box;
        }

        .hero{
            width: 100%;
            min-height: 100vh;
            background-image: url('https://png.pngtree.com/background/20231017/original/pngtree-futuristic-business-interface-glowing-with-creativity-on-blurred-blue-wallpaper-expanding-picture-image_5588571.jpg');
            background-size: cover;
            background-position: center;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
        
        }

        

        .container{
            width: min(90%, 800px);
            height: 180px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            backdrop-filter: blur(8px);
            
        }

        .clock{
            width: 100%;
            height: 100%;
            color: white;
            background: rgba(235,0,255,0.11);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .clock span{
            font-size: clamp(30px, 8vw, 80px);
            width: clamp(40px, 12vw, 110px);
            display: inline-block;
            text-align: center;
            position:relative;

        }

        .clock span::after{
            font-size: clamp(8px, 2vw, 16px);
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%);
        }

        #hrs::after{
            content: "HOURS";

        }

        #min::after{
            content: "MINUTE";

        }

        #sec::after{
            content: "SECOND";

        }

        @media (max-width: 480px){
            .container{
                height: 130px;
            }

            .clock span{
                width: 45px;
            }
        }
